<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

</head>
<body>

<!--局部注册-->
<div id="m1">
    <!--<aaa></aaa>-->
    <!--<bbb></bbb>-->
</div>

<script>
    var compontentB = {
        template: `
            <div>i am B</div>
        `
    };
    var compontentA = {
        data () {
            return {
                count: 123
            }
        },
        components: {
            'jjj': compontentB,
        },
        template: `
            <div>i am A {{count}}</div>
            <jjj></jjj>
        `
    };

    var m1 = new Vue({
        el: '#m1',
        components: {
            'aaa' : compontentA,
            'bbb' : compontentB,
        },
    });
</script>


<div id="inher">
    <inher-test type="file" style="background: #00a0e9">

    </inher-test>
</div>

<!--禁用特性继承-->
<script>
    Vue.component('inher-test', {
        inheritAttrs: false,
        data: function () {
            return {

            }
        },
        props: [],
        template: `
            <div>
            {{$attrs}}
                <input  v-bind="$attrs" style="background: yellowgreen;">
            </div>
        `
    });

    new Vue({
        el: '#inher',
        data: {

        },
        methods: {

        }
    });
</script>


<!--组件向父级标签传递数据    修改子组件prop值（对象 数组会改变父组件值）   .sync第一种用法-->
<div id="blog-posts-events-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
        {{t}}-{{doc}}
        <blog-post v-on:enlarge-text="postFontSize += $event"
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:t="t"
                 :post="post"
                v-bind.sync="doc"
        ></blog-post>
    </div>
</div>
<script>
    Vue.component('blog-post', {
        data: function(){
            return {
                name: 888,
            }
        },
        props: ['post', 'title', 'content', 't'],
        computed: {
            ttt(){
                return this.t;
            }
        },
        methods: {
            m(){
                this.ttt.name = 456;
            },
            m1(){
                this.$emit('update:title', 1111);
            }
        },
        template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <div>传递对象（在子组件修改）{{ttt}}</div>
      <h3>{{title}}-{{content}}</h3>
      <button v-on:click="$emit('enlarge-text', 0.1)">
        Enlarge text
      </button>
      <input type="text" v-model="t.name">修改子组件prop值（对象 数组会改变父组件值）
      <button @click="m">改变props</button>
      <button @click="m1">改变props2</button>
    </div>
  `
    })

    vm = new Vue({
        el: '#blog-posts-events-demo',
        data: {
            posts: [
                { id: 1, title: 'My journey with Vue' },
                // { id: 2, title: 'Blogging with Vue' },
                // { id: 3, title: 'Why Vue is so fun' }
            ],
            postFontSize: 1,
            doc: {
                title: 'title',
                content: 'content'
            },
            t:{
                name: 123,
            }
        },
        created (){

        },
        methods: {

        },
    })

</script>



<!--组件数据双向绑定-->
<div id="m">
    <custom-input
            v-bind:mm="searchText"
            v-on:lalal="searchText = $event"
    ></custom-input>
    <!--<custom-input v-model="searchText"></custom-input>-->
    <!--<button @click="mm">click</button>-->

    <!--下面两种写法相同-->
    <!--<input type="text" :value="te" v-on:input="te = $event.target.value">-->
    <!--<input type="text" v-model="te">-->
</div>

<script>
    Vue.component('custom-input', {
        props: ['mm'],
        // model:{
        //     prop: 'value',
        //     event: 'lalal'
        // },
        template: `
        <label>
        <span>{{mm}}</span>
        <!--<span>fjoejw</span>-->
        <input
          v-bind:value="mm"
              v-on:input="$emit('lalal', $event.target.value)"
        >
        </label>
        `
    });
    new Vue({
        el: '#m',
        data: {
            searchText: '00',
            te: 'ok',
        },
        watch:{
            searchText(newd, oldd){
                console.log(newd,oldd);
            },
            te(n,o){
                console.log(n);
            }
        },
        methods: {
            mm: function () {
                this.searchText = 111;
            },
        }
    });

</script>


<!--.sync 修饰符 第二种用法-->
    <div id="details">
        <button @click="changeValue">toggle</button>
        <my-component :show.sync='valueChild' style="padding: 30px 20px 30px 5px;border:1px solid #ddd;margin-bottom: 10px;"></my-component>

        <!--<my-component :show='valueChild' v-on:mmm="valueChild = $event" style="padding: 30px 20px 30px 5px;border:1px solid #ddd;margin-bottom: 10px;"></my-component>-->
    </div>
    <script>
        Vue.component('my-component', {
            data: function(){
                return {
                    // is_dis: this.show
                }
            },
            template: `<div v-if="is_dis">
                        <p>默认初始值是{{is_dis}}，所以是显示的</p>
                        <button @click.stop="closeDiv">关闭</button>
                     </div>`,
            props:['show'],
            computed:{
                is_dis(){
                    return this.show
                }
            },
            methods: {
                closeDiv() {
                    this.$emit('update:show', false); //触发 input 事件，并传入新值

                    // this.$emit('mmm', false);
                }
            },
            watch:{
                show(){
                    // this.is_dis = this.show
                }
            }
        })
        new Vue({
            el: '#details',
            data:{
                valueChild:true,
            },
            methods:{
                changeValue(){
                    console.log(this.$data);
                    this.valueChild = !this.valueChild
                }
            }
        })
    </script>

<style>
    .demo-alert-box {
        color: darkred;
    }
</style>



<!--原生事件-->
<div id="n">
    {{vo}}
    <base-input v-on:click="onFocus" :label="label" :value="vo" v-on:mm="vo = $event" type="number">

    </base-input>
</div>
<script>
    Vue.component('base-input', {
        inheritAttrs: false,
        props: ['label', 'value'],
        computed: {
            inputListeners: function () {
                var vm = this
                // `Object.assign` 将所有的对象合并为一个新对象
                return Object.assign({},
                    // 我们从父级添加所有的监听器
                    this.$listeners,
                    // 然后我们添加自定义监听器，
                    // 或覆写一些监听器的行为
                    {
                        // 这里确保组件配合 `v-model` 的工作
                        input: function (event) {
                            vm.$emit('mm', event.target.value)
                        }
                    }
                )
            }
        },
        template: `
    <label>
      {{ label }}
      <button>132</button>
      <input
        v-bind="$attrs"
        v-bind:value="value"

        v-on="inputListeners"
      >
    </label>
  `
    })
    new Vue({
        el: '#n',
        data:{
            label: 111,
            vo: 222,
        },
        methods: {
            onFocus(){
                console.log(1);
            }
        }
    });
</script>



<!--边界情况-->
<script>
    // Vue 根实例
    new Vue({
        data: {
            foo: 1
        },
        computed: {
            bar: function () {
                return this.foo;
            }
        },
        created(){
            // 获取根组件的数据
            this.$root.foo
            // 写入根组件的数据
            this.$root.foo = 2
            console.log(this.$root.foo);
            // 访问根组件的计算属性
            console.log(this.$root.bar);

            // 调用根组件的方法
            console.log(this.$root.baz());
        },
        methods: {
            baz: function () {
                return '111'
            }
        }
    })

</script>


</body>
</html>
