//{
////  es2015可以转码es2015的语法规则，stage-0可以转码ES7语法(比如async await)
//  "presets": [
//    "es2015",
//    "stage-0"
//  ]
//}


{  //只转码不支持的页面配置文件
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ]
}
